html {
  font-size: 16px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-family: "Fira Code", monospace;
  font-weight: 500;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 100vh;
  transition: all 0.4s ease;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0.75em 0;
}

a {
  color: var(--highlight);
  text-decoration-color: var(--color);
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  background: transparent;
  transition: all 0.2s ease;
  color: inherit;
}

select {
  background: #444;
  color: inherit;
  border: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.icon-button {
  line-height: 1;
}

body.preload * {
  transition-duration: 0s !important;
}
