body.menu-open .editor {
  display: none;
}

.editor {
  display: block;
  width: 100%;

  background: transparent;
  color: inherit;
  font-size: 1rem;
  border: none;
  overflow: auto;
  resize: none;
  padding: 1rem;
  flex: 1 0 auto;
  caret-color: var(--highlight);
  transition: padding 0.3s ease;

  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 1200px) {
  .narrow .editor {
    padding: 1rem calc((100% - 800px) / 2);
    
  }
}