:root {
  --bg: #222;
  --color: #f0f0f0;
  --highlight: #ea9639;
  --footer: #000;
  --button-hover: #444;
  --action-btns: #444;
  --separator: #444;

  --action-unchecked: rgba(255, 255, 255, 0.1);
  --action-checked: rgba(255, 255, 255, 1);
}

[data-theme="light"] {
  --bg: #fff;
  --color: #222;
  --button-hover: #ccc;
  --footer: #fff;
  --action-btns: #eee;

  --action-unchecked: rgba(0, 0, 0, 0.1);
  --action-checked: #13a801;
}
